$nav-height: 64px;
$color-default: #e1faf9;
$color-nav: #1c1e227e; //#1c1e22;
$color-dark: #001242;
$color-light: #005E7C;
$color-lighter: #0094C6;
$color-description: #50d0fb;
$color-red: #ff0000;

.cart
{
    gap: 3em;

    &__products
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: fit-content;

        &--total
        {
            flex-direction: row;
            gap: 1em;
        }
    }

    &__text
    {
        color: $color-default;
        font-family: Inconsolata;
        text-align: center; 

        &--title
        {
            font-weight: 750;
            font-size: 2.15em;
            align-self: center;
        }

        &--product
        {
            font-size: 1em;
            text-align: left;

            &-title
            {
                font-weight: bold;
                font-size: 1.2em;
                margin-top: .25em;
                margin-bottom: .5em;
            }
        }

        &--total
        {
            font-weight: bold;
            font-size: 1.2em;
            margin-top: .25em;
            margin-bottom: .5em;
        }

    }

    &__button
    {
        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: Terminus;
        color: $color-default;
        font-size: 1em;
        transition: 100ms ease-in-out;

        &--delete-product
        {
            width: 50%;
            align-self: center;
            height: 30px;
            background-color: $color-light;
            border: 1px solid $color-default;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
        }

        &--back
        {
            align-self: flex-start;
            width: 125px;
            height: 25px;

            &:hover
            {
                color: $color-dark;
                background: $color-lighter;
            }

        }

        &--checkout
        {
            text-align: center;
            width: 175px;
            height: 50px;
            background-color: $color-light;
            border: 1px solid $color-default;
            box-shadow: 1px 1px 5px 1px rgba(0, 0, 0, 0.5);
        }

        &--delete-all
        {
            text-align: center;
            width: 150px;
            height: 50px;
            background-color: $color-red;
            border: 1px solid $color-default;
        }
    }

    &__line
    {
        width: 95%;
        height: 1px;
        background-color: $color-default;
    }

    &__item
    {
        display: grid;
        grid-template-rows: 1fr 1fr;

        grid-template-areas: "left right"
                             "down down";
        justify-content: center;
        align-items: center;
        gap: 1em;
        width: 100%;
        padding: 15px 10px 5px 10px;
        background-color: #0f0f0f7e;
        border: 1px solid $color-dark;
        height: 175px;
    }

    &__container
    {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: fit-content;
        

        &--right
        {
            grid-area: right;
            align-items: flex-end;
        }

        &--left
        {
            grid-area: left;
            align-items: flex-start;
            width: 100px;
            height: 50px;
        }

        &--down
        {
            grid-area: down;
        }
    }
}